@import "tailwindcss";

@theme {
    --color-primary-bright: #287af4;  /*84cc16*/
    --color-primary-normal: #2563eb;
    --color-primary-dark: #205de3;

    --color-accent-bright: #a3ef2c;
    --color-accent-normal: #9dea24;
    --color-accent-dark: #94df1d;
}

body {

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}



*, *::before, *::after {
    transition-duration: 0ms !important;
    animation-duration: 0ms !important;
}